@import '../abstracts/variables';
@import '../abstracts/mixins';

header {
  background-color: $bg-light;
  width: 100%;
  border-bottom: 1vh solid $highlight;
  .txt-cont {
    padding: 1%;
    width:  70.901%; // 960/1354
    margin: 0 auto;
    @include flex-center-row;
    justify-content: space-between;
    color: $txt-dark;
    .logo-const {
      height: 100px;
    }
    .header-text {
      height: auto;
      font-size: 1.5rem;
      height: auto;
      margin: auto 0;
      .highlight {
        font-weight: 800;
        color: $txt-dark-strong;
      }
    }
  }
}
