// Color pallete:

$super-high: #dea01e;
$highlight: #00b3ff;
$bg-dark: #3580c4;
$bg-light: rgb(240,240,245);
$bg-dark-grey: rgb(220,220,225);
$txt-dark: rgba(0,0,0,0.7);
$txt-light: rgba(255,255,255,0.7);
$txt-dark-strong: rgba(0,0,0,0.8);
$txt-light-strong: rgba(255,255,255,0.9);


// Font:
$font: 'Muli', sans-serif;

